/* Cabecalho.css */

/*  sombra de texto  */

hr {
  height: 4px;
  border: none;
  background-color: brown;
  width: 50%;
  margin: auto;
}

.destaque-texto {
  padding: 4px;
  border-radius: 4px;
  color: red;
}
