/* Cabecalho.css */

/*  sombra de texto  */

.sombra {
  text-shadow: rgb(255, 79, 255) 2px 2px 5px;
}

hr {
  height: 4px;
  border: none;
  background-color: brown;
  width: 50%;
  margin: auto;
}

.destaque-texto {
  background-color: rgb(12, 14, 20);
  padding: 4px;
  border-radius: 4px;
  color: red;
}
