*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
  font-family: "Segoe UI", Arial;
}

.sombra {
  box-shadow: green 0 0 10px;
}

.destaque-texto {
  text-transform: uppercase;
  color: green;
}

.centralizar {
  text-align: center;
}
